<nav class="navbar navbar-expand-sm navbar-light navbar-lewagon px-3">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= image_tag "logo.png", alt: "alttext", class: "logo", width: "100px" %>
    </div>
    <ul class="nav navbar-nav">
      <li><%= link_to 'Home', lists_path() %></li>
    </ul>
  </div>
</nav>
